@charset "UTF-8";
*,*::after,*::before{
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color:#333;
}
body{
  color: #333;
  padding-top: 80px;

}
header{
  height:95px;
  width:100%;
  background-color: #fff;
  position: fixed;
  top:0;
  left:0;
  box-shadow: 0 2px 3px #333;
  z-index: 10;
  .header-inner{
    height:100%;
    max-width: 1400px;
    padding:0 3%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    h1{
      font-weight: bold;
      font-size: 30px;
      font-family: "EB Garamond";
    }
    ul{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width:50%;
      @media screen and (max-width: 600px){
        display:none;
      }
      .scroll-btn{
        font-family: "EB Garamond";
        font-size: 20px;
        position: relative;
        display: block;
        &::after{
          content: '';
          position: absolute;
          bottom:-5px;
          left: 0;
          display: block;
          height:2px;
          width:0;
          background-color: #333;
          border-radius: 1px;
          transition: 0.7s all;
        }
        &:hover::after{
          width:100%;
        }
      }
    }
    >a{
      display:none;
      @media screen and (max-width: 600px){
        display:block;
      }
    }
  }
}
.phone-nav{
  position: fixed;
  top: 95px;
  left:0;
  width:100%;
  background-color: #fff;
  box-shadow: 0 2px 3px #333;
  z-index: 10;
  display: none;
  li a{
    font-family: "EB Garamond";
    font-size:14px;
    line-height: 28px;
    margin-left: 20px;
    &:hover{
      opacity:0.7;
    }
  }
}
.top{
  background-image:url('img/workplace-5517762_1280.webp');
  background-size: cover;
  background-position: center;
  width:100%;
  height:70vh;
}
.about{
  padding:70px 0;
  h2{
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    letter-spacing: 1.5px;
    font-family: "EB Garamond";
  }
  >p{
    font-size: 16px;
    text-align: center;
    font-family: 'Noto Serif JP', sans-serif;
    margin-top: 10px;
    margin-bottom: 70px;
  }
  .profile{
    width:60%;
    max-width:1000px;
    margin: 0 auto;
    display:flex;
    align-items: center;
    @media screen and (max-width:600px){
      flex-direction: column;
      justify-content: center;
    }
    .about-img{
      background-image: url('img/f_f_object_161_s128_f_object_161_2bg.png');
      background-size: cover;
      border-radius: 50%;
      width:100px;
      height:100px;
      margin-right: 3%;
      @media screen and(max-width:600px){
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
    p{
      font-size: 16px;
      line-height: 24px;
      font-family: 'Noto Serif JP', sans-serif;
    }
  }
}
.skill{
  padding: 70px 0;
  h2{
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    letter-spacing: 1.5px;
    font-family: "EB Garamond";
  }
  >p{
    font-size: 16px;
    text-align: center;
    font-family: 'Noto Serif JP', sans-serif;
    margin-top: 10px;
    margin-bottom: 70px;
  }
  .skills{
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .skill-content{
      background-color: #ccffff;
      width:20%;
      padding: 7px 14px;
      border-radius: 10px;
      border:1px solid #333;
      @media screen and (max-width: 1024px){
        width:40%;
        margin-bottom: 30px;
      }
      @media screen and (max-width: 600px){
        width: 80%;
      }
      h3{
        font-family: "EB Garamond";
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        background-color: #fff;
        border-radius: 15px;
        line-height: 30px;
        margin-bottom: 5px;
        border:1px solid #333;
      }
      p{
        font-size: 16px;
        line-height: 24px;
        font-family: 'Noto Serif JP', sans-serif;
      }
    }
  }
}
.question{
  padding: 70px 0;
  h2{
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    letter-spacing: 1.5px;
    font-family: "EB Garamond";
  }
  p{
    font-size: 16px;
    text-align: center;
    font-family: 'Noto Serif JP', sans-serif;
    margin-top: 10px;
    margin-bottom: 70px;
  }

  ul{
    width:80%;
    max-width: 600px;
    margin: 0 auto;
  }
  li a{
    display: block;
    font-size: 16px;
    line-height: 40px;
    font-family: 'Noto Serif JP', sans-serif;
    border-bottom: 1px solid #777;
    font-family: 'Noto Serif JP', sans-serif;
    cursor: pointer;
  }
  .answer{
    display: none;
  }
}
.contact{
  padding: 70px 0;
  height:100%;

  h2{
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    letter-spacing: 1.5px;
    font-family: "EB Garamond";
  }
  >p{
    font-size: 16px;
    text-align: center;
    font-family: 'Noto Serif JP', sans-serif;
    margin-top: 10px;
    margin-bottom: 70px;
  }
  form{
    width:80%;
    max-width: 600px;
    margin: 0 auto;
    height:100%;
    dl {
      height:28px;
      height:100%;
      dt label{
        font-size: 18px;
        line-height: 28px;
        font-family: 'Noto Serif JP', sans-serif;
        span{
          font-size: 12px;
          line-height: 16px;
          vertical-align: middle;
          color:#fff;
          background-color: red;
          border-radius: 5px;
          margin-right:5px;
          padding:0 5px;
        }
          .yourself{
            background-color: gray;
          }
        }
      dd{
        margin-bottom: 20px;
        input{
          font-size:16px;
          width:100%;

        }
        textarea{
          width:100%;

          height:100px;
          font-size: 16px;
        }
      }
    }
    button{
      display: block;
      font-size: 16px;
      margin: 0 auto;
      background-color: #fff;
      border-radius: 5px;
      width:50px;
      height:30px;
      font-family: 'Noto Serif JP', sans-serif;

    }

  }

}
footer{
  padding:10vh 0;
  background-color: #333;
  color:#fff;
  .icon{
    margin:0 auto;
    width:200px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  p{
    text-align: center;
  }
}
